<form action="/comment/update-comment/4?_method=PUT" method="POST">
<!--     <input type="text" name="user_id" id="" placeholder="ques">
    <input type="text" name="topic_id" placeholder="opt1" id=""> -->
    <input type="text" name="comment" placeholder="opt2" id="">
<!--     <input type="text" name="city" placeholder="opt3" id="">
    <input type="text" name="state" placeholder="course_id" id="">

    <input type="text" name="country" placeholder="opt4" id="">
    <input type="text" name="address" placeholder="sub" id="">
    <input type="text" name="standard" placeholder="opt4" id="">
    <input type="text" name="subscription_type" placeholder="sub" id=""> -->
<!--     <input type="text" name="study_material" placeholder="top" id=""> 
    <input type="text" name="description" placeholder="opt4" id=""> -->
    <button type="submit">CLick</button>
</form> 

<form class="deleteForm" action="/user/delete-user/1?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-outline-danger">Delete</button>
</form>