<!-- <form action="/update-question/4?_method=PUT" method="POST">
    <input type="text" name="question" id="" placeholder="ques">
    <input type="text" name="option1" placeholder="opt1" id="">
    <input type="text" name="option2" placeholder="opt2" id="">
    <input type="text" name="option3" placeholder="opt3" id="">
    <input type="text" name="option4" placeholder="opt4" id="">
    <input type="text" name="subject" placeholder="sub" id="">
    <input type="text" name="topic" placeholder="top" id="">
    <input type="text" name="answer" placeholder="asnwer" id="">
    <button type="submit">CLick</button>
</form>  -->

<form class="deleteForm" action="/delete-question/2?_method=DELETE" method="POST">
    <button class="btn btn-xs btn-outline-danger">Delete</button>
</form>